@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DatosUsuario

<a class="btn btn-success" asp-controller="DeportesTajamar" asp-action="Index">Back to List</a>

<h1>Datos usuario</h1>

<ul class="list-group">
    <li class="list-group-item">
        Nombre: @Model.Nombre
    </li>
    <li class="list-group-item">
        Apellidos: @Model.Apellidos
    </li>
    <li class="list-group-item">
        Email: @Model.Email
    </li>
    <li class="list-group-item">
        Imagen: <img src="@Model.Imagen" />
    </li>
    <li class="list-group-item">
        Nombre actividad: @Model.NombreActividad
    </li>
    <li class="list-group-item">
        Fecha inscripcion: @Model.FechaInscripcion
    </li>
    <li class="list-group-item">
        Capitan: @Model.Capitan
    </li>
    <li class="list-group-item">
        Nombre curso: @Model.NombreCurso
    </li>
</ul>